<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaCreateDlg" widgetVar="AgendaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateAgendaTitle}">
            <h:form id="AgendaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_idAgenda}" for="idAgenda" />
                        <p:inputText id="idAgenda" value="#{agendaController.selected.idAgenda}" title="#{agenda.CreateAgendaTitle_idAgenda}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_idAgenda}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_tipo}" for="tipo" />
                        <p:inputText id="tipo" value="#{agendaController.selected.tipo}" title="#{agenda.CreateAgendaTitle_tipo}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_tipo}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_duracion}" for="duracion" />
                        <p:inputText id="duracion" value="#{agendaController.selected.duracion}" title="#{agenda.CreateAgendaTitle_duracion}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_duracion}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{agendaController.selected.nombre}" title="#{agenda.CreateAgendaTitle_nombre}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{agendaController.selected.fecha}" title="#{agenda.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_hora}" for="hora" />
                        <p:calendar id="hora" pattern="HH:mm:ss" value="#{agendaController.selected.hora}" title="#{agenda.EditAgendaTitle_hora}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_hora}" showOn="button"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_participantes}" for="participantes" />
                        <p:inputText id="participantes" value="#{agendaController.selected.participantes}" title="#{agenda.CreateAgendaTitle_participantes}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_participantes}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_area}" for="area" />
                        <p:inputText id="area" value="#{agendaController.selected.area}" title="#{agenda.CreateAgendaTitle_area}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_area}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_lugaresidLugares}" for="lugaresidLugares" />
                        <p:selectOneMenu id="lugaresidLugares" value="#{agendaController.selected.lugaresidLugares}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_lugaresidLugares}">
                            <f:selectItems value="#{lugaresController.itemsAvailableSelectOne}"
                                           var="lugaresidLugaresItem"
                                           itemValue="#{lugaresidLugaresItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{agendaController.create}" value="#{agenda.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args,'AgendaCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="AgendaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
