<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaViewDlg" widgetVar="AgendaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.ViewAgendaTitle}">
            <h:form id="AgendaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <h:outputText value="#{agenda.ViewAgendaLabel_idAgenda}"/>
                        <h:outputText value="#{agendaController.selected.idAgenda}" title="#{agenda.ViewAgendaTitle_idAgenda}"/>
                        <h:outputText value="#{agenda.ViewAgendaLabel_tipo}"/>
                        <h:outputText value="#{agendaController.selected.tipo}" title="#{agenda.ViewAgendaTitle_tipo}"/>
                        <h:outputText value="#{agenda.ViewAgendaLabel_duracion}"/>
                        <h:outputText value="#{agendaController.selected.duracion}" title="#{agenda.ViewAgendaTitle_duracion}"/>
                        <h:outputText value="#{agenda.ViewAgendaLabel_nombre}"/>
                        <h:outputText value="#{agendaController.selected.nombre}" title="#{agenda.ViewAgendaTitle_nombre}"/>
                        <h:outputText value="#{agenda.ViewAgendaLabel_fecha}"/>
                        <h:outputText value="#{agendaController.selected.fecha}" title="#{agenda.ViewAgendaTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{agenda.ViewAgendaLabel_hora}"/>
                        <h:outputText value="#{agendaController.selected.hora}" title="#{agenda.ViewAgendaTitle_hora}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{agenda.ViewAgendaLabel_participantes}"/>
                        <h:outputText value="#{agendaController.selected.participantes}" title="#{agenda.ViewAgendaTitle_participantes}"/>
                        <h:outputText value="#{agenda.ViewAgendaLabel_area}"/>
                        <h:outputText value="#{agendaController.selected.area}" title="#{agenda.ViewAgendaTitle_area}"/>
                        <h:outputText value="#{agenda.ViewAgendaLabel_lugaresidLugares}"/>
                        <h:outputText value="#{agendaController.selected.lugaresidLugares}" title="#{agenda.ViewAgendaTitle_lugaresidLugares}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda.Close}" onclick="AgendaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
