<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventoparticipantesCreateDlg" widgetVar="EventoparticipantesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateEventoparticipantesTitle}">
            <h:form id="EventoparticipantesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventoparticipantesController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateEventoparticipantesLabel_idEventoParticipantes}" for="idEventoParticipantes" />
                        <p:inputText id="idEventoParticipantes" value="#{eventoparticipantesController.selected.idEventoParticipantes}" title="#{agenda.CreateEventoparticipantesTitle_idEventoParticipantes}" required="true" requiredMessage="#{agenda.CreateEventoparticipantesRequiredMessage_idEventoParticipantes}"/>
                        <p:outputLabel value="#{agenda.CreateEventoparticipantesLabel_confirmado}" for="confirmado" />
                        <p:selectBooleanCheckbox id="confirmado" value="#{eventoparticipantesController.selected.confirmado}" required="true" requiredMessage="#{agenda.EditEventoparticipantesRequiredMessage_confirmado}"/>
                        <p:outputLabel value="#{agenda.CreateEventoparticipantesLabel_idAutoRegistro}" for="idAutoRegistro" />
                        <p:selectOneMenu id="idAutoRegistro" value="#{eventoparticipantesController.selected.idAutoRegistro}" required="true" requiredMessage="#{agenda.EditEventoparticipantesRequiredMessage_idAutoRegistro}">
                            <f:selectItems value="#{autoRegistroController.itemsAvailableSelectOne}"
                                           var="idAutoRegistroItem"
                                           itemValue="#{idAutoRegistroItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda.CreateEventoparticipantesLabel_idEvento}" for="idEvento" />
                        <p:selectOneMenu id="idEvento" value="#{eventoparticipantesController.selected.idEvento}" required="true" requiredMessage="#{agenda.EditEventoparticipantesRequiredMessage_idEvento}">
                            <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"
                                           var="idEventoItem"
                                           itemValue="#{idEventoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{eventoparticipantesController.create}" value="#{agenda.Save}" update="display,:EventoparticipantesListForm:datalist,:growl" oncomplete="handleSubmit(args,'EventoparticipantesCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="EventoparticipantesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
