<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutoRegistroEditDlg" widgetVar="AutoRegistroEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.EditAutoRegistroTitle}">
            <h:form id="AutoRegistroEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autoRegistroController.selected != null}">
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_idAutoRegistro}" for="idAutoRegistro" />
                        <p:inputText id="idAutoRegistro" value="#{autoRegistroController.selected.idAutoRegistro}" title="#{agenda.EditAutoRegistroTitle_idAutoRegistro}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_idAutoRegistro}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{autoRegistroController.selected.nombre}" title="#{agenda.EditAutoRegistroTitle_nombre}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_apellido}" for="apellido" />
                        <p:inputText id="apellido" value="#{autoRegistroController.selected.apellido}" title="#{agenda.EditAutoRegistroTitle_apellido}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_apellido}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_emailP}" for="emailP" />
                        <p:inputText id="emailP" value="#{autoRegistroController.selected.emailP}" title="#{agenda.EditAutoRegistroTitle_emailP}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_emailP}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_emailE}" for="emailE" />
                        <p:inputText id="emailE" value="#{autoRegistroController.selected.emailE}" title="#{agenda.EditAutoRegistroTitle_emailE}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_emailE}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_telefonoP}" for="telefonoP" />
                        <p:inputText id="telefonoP" value="#{autoRegistroController.selected.telefonoP}" title="#{agenda.EditAutoRegistroTitle_telefonoP}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_telefonoP}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_nss}" for="nss" />
                        <p:inputText id="nss" value="#{autoRegistroController.selected.nss}" title="#{agenda.EditAutoRegistroTitle_nss}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_nss}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_empresa}" for="empresa" />
                        <p:inputText id="empresa" value="#{autoRegistroController.selected.empresa}" title="#{agenda.EditAutoRegistroTitle_empresa}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_empresa}"/>
                        <p:outputLabel value="#{agenda.EditAutoRegistroLabel_telefonoE}" for="telefonoE" />
                        <p:inputText id="telefonoE" value="#{autoRegistroController.selected.telefonoE}" title="#{agenda.EditAutoRegistroTitle_telefonoE}" required="true" requiredMessage="#{agenda.EditAutoRegistroRequiredMessage_telefonoE}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{autoRegistroController.update}" value="#{agenda.Save}" update="display,:AutoRegistroListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AutoRegistroEditDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="AutoRegistroEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
