<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda.ListAutoRegistroTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AutoRegistroListForm">
                <p:panel header="#{agenda.ListAutoRegistroTitle}">
                    <p:dataTable id="datalist" value="#{autoRegistroController.items}" var="item"
                                 selectionMode="single" selection="#{autoRegistroController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idAutoRegistro}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_idAutoRegistro}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAutoRegistro}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_apellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_emailP}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_emailE}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailE}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_telefonoP}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefonoP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_nss}"/>
                            </f:facet>
                            <h:outputText value="#{item.nss}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_empresa}"/>
                            </f:facet>
                            <h:outputText value="#{item.empresa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAutoRegistroTitle_telefonoE}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefonoE}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda.Create}" actionListener="#{autoRegistroController.prepareCreate}" update=":AutoRegistroCreateForm" oncomplete="PF('AutoRegistroCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda.View}" update=":AutoRegistroViewForm" oncomplete="PF('AutoRegistroViewDialog').show()" disabled="#{empty autoRegistroController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda.Edit}" update=":AutoRegistroEditForm" oncomplete="PF('AutoRegistroEditDialog').show()" disabled="#{empty autoRegistroController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda.Delete}" actionListener="#{autoRegistroController.destroy}" update=":growl,datalist" disabled="#{empty autoRegistroController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
