<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionproveedoresCreateDlg" widgetVar="ReunionproveedoresCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateReunionproveedoresTitle}">
            <h:form id="ReunionproveedoresCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionproveedoresController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateReunionproveedoresLabel_idReunionProveedores}" for="idReunionProveedores" />
                        <p:inputText id="idReunionProveedores" value="#{reunionproveedoresController.selected.idReunionProveedores}" title="#{agenda.CreateReunionproveedoresTitle_idReunionProveedores}" required="true" requiredMessage="#{agenda.CreateReunionproveedoresRequiredMessage_idReunionProveedores}"/>
                        <p:outputLabel value="#{agenda.CreateReunionproveedoresLabel_idProveedores}" for="idProveedores" />
                        <p:selectOneMenu id="idProveedores" value="#{reunionproveedoresController.selected.idProveedores}" required="true" requiredMessage="#{agenda.EditReunionproveedoresRequiredMessage_idProveedores}">
                            <f:selectItems value="#{proveedoresController.itemsAvailableSelectOne}"
                                           var="idProveedoresItem"
                                           itemValue="#{idProveedoresItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda.CreateReunionproveedoresLabel_idReunion}" for="idReunion" />
                        <p:selectOneMenu id="idReunion" value="#{reunionproveedoresController.selected.idReunion}" required="true" requiredMessage="#{agenda.EditReunionproveedoresRequiredMessage_idReunion}">
                            <f:selectItems value="#{reunionController.itemsAvailableSelectOne}"
                                           var="idReunionItem"
                                           itemValue="#{idReunionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionproveedoresController.create}" value="#{agenda.Save}" update="display,:ReunionproveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReunionproveedoresCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="ReunionproveedoresCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
