<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionproveedoresViewDlg" widgetVar="ReunionproveedoresViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.ViewReunionproveedoresTitle}">
            <h:form id="ReunionproveedoresViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionproveedoresController.selected != null}">
                        <h:outputText value="#{agenda.ViewReunionproveedoresLabel_idReunionProveedores}"/>
                        <h:outputText value="#{reunionproveedoresController.selected.idReunionProveedores}" title="#{agenda.ViewReunionproveedoresTitle_idReunionProveedores}"/>
                        <h:outputText value="#{agenda.ViewReunionproveedoresLabel_idProveedores}"/>
                        <h:outputText value="#{reunionproveedoresController.selected.idProveedores}" title="#{agenda.ViewReunionproveedoresTitle_idProveedores}"/>
                        <h:outputText value="#{agenda.ViewReunionproveedoresLabel_idReunion}"/>
                        <h:outputText value="#{reunionproveedoresController.selected.idReunion}" title="#{agenda.ViewReunionproveedoresTitle_idReunion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda.Close}" onclick="ReunionproveedoresViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
