<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LugaresEditDlg" widgetVar="LugaresEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.EditLugaresTitle}">
            <h:form id="LugaresEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lugaresController.selected != null}">
                        <p:outputLabel value="#{agenda.EditLugaresLabel_idLugares}" for="idLugares" />
                        <p:inputText id="idLugares" value="#{lugaresController.selected.idLugares}" title="#{agenda.EditLugaresTitle_idLugares}" required="true" requiredMessage="#{agenda.EditLugaresRequiredMessage_idLugares}"/>
                        <p:outputLabel value="#{agenda.EditLugaresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{lugaresController.selected.nombre}" title="#{agenda.EditLugaresTitle_nombre}" required="true" requiredMessage="#{agenda.EditLugaresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.EditLugaresLabel_capcidad}" for="capcidad" />
                        <p:inputText id="capcidad" value="#{lugaresController.selected.capcidad}" title="#{agenda.EditLugaresTitle_capcidad}" required="true" requiredMessage="#{agenda.EditLugaresRequiredMessage_capcidad}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lugaresController.update}" value="#{agenda.Save}" update="display,:LugaresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LugaresEditDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="LugaresEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
