<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventoViewDlg" widgetVar="EventoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.ViewEventoTitle}">
            <h:form id="EventoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventoController.selected != null}">
                        <h:outputText value="#{agenda.ViewEventoLabel_idevento}"/>
                        <h:outputText value="#{eventoController.selected.idevento}" title="#{agenda.ViewEventoTitle_idevento}"/>
                        <h:outputText value="#{agenda.ViewEventoLabel_fechaInicioRegisto}"/>
                        <h:outputText value="#{eventoController.selected.fechaInicioRegisto}" title="#{agenda.ViewEventoTitle_fechaInicioRegisto}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{agenda.ViewEventoLabel_fechaFinalRegistro}"/>
                        <h:outputText value="#{eventoController.selected.fechaFinalRegistro}" title="#{agenda.ViewEventoTitle_fechaFinalRegistro}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{agenda.ViewEventoLabel_idAgenda}"/>
                        <h:outputText value="#{eventoController.selected.idAgenda}" title="#{agenda.ViewEventoTitle_idAgenda}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda.Close}" onclick="EventoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
