<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionempleadosCreateDlg" widgetVar="ReunionempleadosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateReunionempleadosTitle}">
            <h:form id="ReunionempleadosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionempleadosController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateReunionempleadosLabel_idReunionEmpleados}" for="idReunionEmpleados" />
                        <p:inputText id="idReunionEmpleados" value="#{reunionempleadosController.selected.idReunionEmpleados}" title="#{agenda.CreateReunionempleadosTitle_idReunionEmpleados}" required="true" requiredMessage="#{agenda.CreateReunionempleadosRequiredMessage_idReunionEmpleados}"/>
                        <p:outputLabel value="#{agenda.CreateReunionempleadosLabel_idEmpleados}" for="idEmpleados" />
                        <p:selectOneMenu id="idEmpleados" value="#{reunionempleadosController.selected.idEmpleados}" required="true" requiredMessage="#{agenda.EditReunionempleadosRequiredMessage_idEmpleados}">
                            <f:selectItems value="#{empleadosController.itemsAvailableSelectOne}"
                                           var="idEmpleadosItem"
                                           itemValue="#{idEmpleadosItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda.CreateReunionempleadosLabel_idreunion}" for="idreunion" />
                        <p:selectOneMenu id="idreunion" value="#{reunionempleadosController.selected.idreunion}" required="true" requiredMessage="#{agenda.EditReunionempleadosRequiredMessage_idreunion}">
                            <f:selectItems value="#{reunionController.itemsAvailableSelectOne}"
                                           var="idreunionItem"
                                           itemValue="#{idreunionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionempleadosController.create}" value="#{agenda.Save}" update="display,:ReunionempleadosListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReunionempleadosCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="ReunionempleadosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
