<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda.ListReunionempleadosTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ReunionempleadosListForm">
                <p:panel header="#{agenda.ListReunionempleadosTitle}">
                    <p:dataTable id="datalist" value="#{reunionempleadosController.items}" var="item"
                                 selectionMode="single" selection="#{reunionempleadosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idReunionEmpleados}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListReunionempleadosTitle_idReunionEmpleados}"/>
                            </f:facet>
                            <h:outputText value="#{item.idReunionEmpleados}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListReunionempleadosTitle_idEmpleados}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEmpleados}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListReunionempleadosTitle_idreunion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idreunion}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda.Create}" actionListener="#{reunionempleadosController.prepareCreate}" update=":ReunionempleadosCreateForm" oncomplete="PF('ReunionempleadosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda.View}" update=":ReunionempleadosViewForm" oncomplete="PF('ReunionempleadosViewDialog').show()" disabled="#{empty reunionempleadosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda.Edit}" update=":ReunionempleadosEditForm" oncomplete="PF('ReunionempleadosEditDialog').show()" disabled="#{empty reunionempleadosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda.Delete}" actionListener="#{reunionempleadosController.destroy}" update=":growl,datalist" disabled="#{empty reunionempleadosController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
