<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionCreateDlg" widgetVar="ReunionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateReunionTitle}">
            <h:form id="ReunionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateReunionLabel_idReunion}" for="idReunion" />
                        <p:inputText id="idReunion" value="#{reunionController.selected.idReunion}" title="#{agenda.CreateReunionTitle_idReunion}" required="true" requiredMessage="#{agenda.CreateReunionRequiredMessage_idReunion}"/>
                        <p:outputLabel value="#{agenda.CreateReunionLabel_idAgenda}" for="idAgenda" />
                        <p:selectOneMenu id="idAgenda" value="#{reunionController.selected.idAgenda}" required="true" requiredMessage="#{agenda.EditReunionRequiredMessage_idAgenda}">
                            <f:selectItems value="#{agendaController.itemsAvailableSelectOne}"
                                           var="idAgendaItem"
                                           itemValue="#{idAgendaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionController.create}" value="#{agenda.Save}" update="display,:ReunionListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReunionCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="ReunionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
