<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda.ListReunionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ReunionListForm">
                <p:panel header="#{agenda.ListReunionTitle}">
                    <p:dataTable id="datalist" value="#{reunionController.items}" var="item"
                                 selectionMode="single" selection="#{reunionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idReunion}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListReunionTitle_idReunion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idReunion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListReunionTitle_idAgenda}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAgenda}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda.Create}" actionListener="#{reunionController.prepareCreate}" update=":ReunionCreateForm" oncomplete="PF('ReunionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda.View}" update=":ReunionViewForm" oncomplete="PF('ReunionViewDialog').show()" disabled="#{empty reunionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda.Edit}" update=":ReunionEditForm" oncomplete="PF('ReunionEditDialog').show()" disabled="#{empty reunionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda.Delete}" actionListener="#{reunionController.destroy}" update=":growl,datalist" disabled="#{empty reunionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
