<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresCreateDlg" widgetVar="ProveedoresCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateProveedoresTitle}">
            <h:form id="ProveedoresCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_idProveedores}" for="idProveedores" />
                        <p:inputText id="idProveedores" value="#{proveedoresController.selected.idProveedores}" title="#{agenda.CreateProveedoresTitle_idProveedores}" required="true" requiredMessage="#{agenda.CreateProveedoresRequiredMessage_idProveedores}"/>
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{proveedoresController.selected.nombre}" title="#{agenda.CreateProveedoresTitle_nombre}" required="true" requiredMessage="#{agenda.CreateProveedoresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_nombreContacto}" for="nombreContacto" />
                        <p:inputText id="nombreContacto" value="#{proveedoresController.selected.nombreContacto}" title="#{agenda.CreateProveedoresTitle_nombreContacto}" required="true" requiredMessage="#{agenda.CreateProveedoresRequiredMessage_nombreContacto}"/>
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_telefonoContacto}" for="telefonoContacto" />
                        <p:inputText id="telefonoContacto" value="#{proveedoresController.selected.telefonoContacto}" title="#{agenda.CreateProveedoresTitle_telefonoContacto}" required="true" requiredMessage="#{agenda.CreateProveedoresRequiredMessage_telefonoContacto}"/>
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_telefonoEmpresa}" for="telefonoEmpresa" />
                        <p:inputText id="telefonoEmpresa" value="#{proveedoresController.selected.telefonoEmpresa}" title="#{agenda.CreateProveedoresTitle_telefonoEmpresa}" required="true" requiredMessage="#{agenda.CreateProveedoresRequiredMessage_telefonoEmpresa}"/>
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_emailContacto}" for="emailContacto" />
                        <p:inputText id="emailContacto" value="#{proveedoresController.selected.emailContacto}" title="#{agenda.CreateProveedoresTitle_emailContacto}" required="true" requiredMessage="#{agenda.CreateProveedoresRequiredMessage_emailContacto}"/>
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_domicilio}" for="domicilio" />
                        <p:inputText id="domicilio" value="#{proveedoresController.selected.domicilio}" title="#{agenda.CreateProveedoresTitle_domicilio}" required="true" requiredMessage="#{agenda.CreateProveedoresRequiredMessage_domicilio}"/>
                        <p:outputLabel value="#{agenda.CreateProveedoresLabel_idUsuarios}" for="idUsuarios" />
                        <p:selectOneMenu id="idUsuarios" value="#{proveedoresController.selected.idUsuarios}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_idUsuarios}">
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idUsuariosItem"
                                           itemValue="#{idUsuariosItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedoresController.create}" value="#{agenda.Save}" update="display,:ProveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProveedoresCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="ProveedoresCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
