<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    Agenda
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <a href="Login.xhtml">
                        <p:dataTable  value="#{agendaController.items2}" var="ag" selection="#{agendaController.selected}" rowKey="#{ag.idAgenda}"
                                     paginator="true" rows="3" selectionMode="simple" >                        
                        <p:column>
                            #{ag.nombre}
                        </p:column>
                        #{ag.idLugares.nombre}
                        <p:column>
                            #{ag.fecha}
                        </p:column>
                        <p:column>
                            #{ag.hora}
                        </p:column>
                    </p:dataTable>
                        </a>
                </p:layoutUnit>

            </p:layout>
            <script type="text/javascript">
                
            </script>
            
        </h:body>

    </f:view>
</html>

