<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="center" size="100">
                <p:dataTable value="#{eventoparticipantesController.items2}" var="participantes"
                             selection="#{eventoparticipantesController.selected}"
                             rowKey="#{participantes.idEventoParticipantes}">
                    <p:column headerText="Nombre">
                        #{participantes.idEventoParticipantes}
                    </p:column>
                    <p:column headerText="Apellido">
                        #{participantes.idAutoRegistro.apellido}
                    </p:column>
                    <p:column headerText="E-mail">
                        #{participantes.idAutoRegistro.emailP}
                    </p:column>
                    <p:column headerText="Empresa">
                        #{participantes.idAutoRegistro.empresa}
                    </p:column>
                </p:dataTable>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

